:root {
    --var-font-text: 1em;
    --var-font-date: 0.7em;

    --dark-bg-image: url(img/mine.jpg);
    --dark-bg-contactlist: #131c21;;
    --dark-bg-contactlist-hover: #323739;
    --dark-bg-nav: #2a2f32;
    --dark-bg-icon-date: white;
    --dark-bg-text: white;
    --dark-bg-input-in: #323739;
    --dark-bg-input-ex: #1e2428;
    --dark-bg-message-sent: #056162;
    --dark-bg-message-rece: #262d31;
    --dark-bg-chevron-sent: linear-gradient(90deg, rgba(5, 97, 98,0) 0%, rgba(5, 97, 98,0.8029586834733894) 25%, rgba(5, 97, 98,1) 100%);
    --dark-bg-chevron-rece: linear-gradient(90deg, rgba(38, 45, 49,0) 0%, rgba(38, 45, 49,0.8029586834733894) 25%, rgba(38, 45, 49,1) 100%);
    --dark-bg-body: #090e11;


    --bg-image: url(img/mine.jpg);
    --bg-contactlist: white;;
    --bg-contactlist-hover: #E9EBEB;
    --bg-nav: #EAEAEA;
    --bg-icon-date: #B1B1B1;
    --bg-text: black;
    --bg-input-in: white;
    --bg-input-ex: #f6f6f6;
    --bg-message-sent: #D5F9BA;
    --bg-message-rece: white;
    --bg-chevron-sent: linear-gradient(90deg, rgba(213,249,186,0) 0%, rgba(213,249,186,0.8029586834733894) 25%, rgba(213,249,186,1) 100%);
    --bg-chevron-rece: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8029586834733894) 25%, rgba(255,255,255,1) 100%);
    --bg-body: linear-gradient(rgba(0, 149, 135, 100) 0vh, rgba(0, 149, 135, 100) 20vh, rgba(220, 219, 208, 100) 20vh, rgba(220, 219, 208, 100) 100vh);
}

html {
    font-size: 100%;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(195, 195, 195); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(184, 184, 184); 
  }

input:focus {
    outline:none;
}

/* background */

body {
    height: 100vh;
    background-image: var(--bg-body);
    overflow: hidden;
}

.loading {
    background-image: linear-gradient(rgba(220, 219, 208, 100) 0vh, rgba(220, 219, 208, 100) 100vh);
}

/* background */


/* web app structure */

main {
    position: relative;
}

#app {
    background-color: transparent;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5em;
    overflow-x: auto;
}

.contact-section {
    float: left;
    width: 350px;
    height: 100%;
    background-color: var(--bg-contactlist);
    min-height: 100px;
    border-right: 1px solid #D6D6D6;
}

.message-section {
    float: right;
    width: calc(100% - 350px);
    height: 100%;
}

.switch-container {
    position: absolute;
    top: -8%;
    right: 2%;
}

/* web app structure */



/* header of two section */

.my-nav {
    background-color: var(--bg-nav);
    padding: 15px;
    display: flex;
    width: 100%;
}

.alert-message {
    display: flex;
    background-color: #8EDAFC;
    padding: 15px;
}

.search {
    display: flex;
    padding: 15px;
    align-content: center;
    position: relative;
    background-color: var(--bg-input-ex);
}

.search-icon {
    position: absolute;
    top: 35%;
    left: 9%;
    color: var(--bg-icon-date);
}

.insert-search {
    width: 100%;
    padding: 10px 0px 10px 40px;
    border: none;
    border-radius: 50px;
    background-color: var(--bg-input-in);
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alert-message .contact-meta__icon {
    border-radius: 50px;
    background-color: white;
    margin: 0 0.4em;
}

.alert-message .contact-meta__icon i {
    font-size: 1.5em;
    color: #8EDAFC;
    padding: 10px 6px;
}

.alert-message .contact-meta__mess {
    text-decoration: underline;
    cursor: pointer;
}

.contact-meta__button {
    display: flex;
    flex-direction: row-reverse;
}

.button-box {
    display: flex;
    justify-content: end;
}

button {
    border: none;
    background-color: transparent;
}

.button-box > button {
    margin-right: 0.3em;
}

button > i {
    font-size: 1.4em;
    color: var(--bg-icon-date);
}

.contact-section .my-nav .contact-meta__data {
    flex-grow: 1;
}

.message-section .contact-meta__data {
    flex-grow: 1;
}

/* header of two section */



/* contact list */

.list-box {
    height: calc(100% - 248px);
    overflow-y: auto;
}

.contact-list {
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.contact-list-item {
    display: flex;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.active {
    background-color: var(--bg-contactlist-hover);
}

.contact-list-item:hover {
    background-color: var(--bg-contactlist-hover);
}

.profile-pic {
    border-radius: 50%;
    max-width: 55px;
}

.anonimus{
    border-radius: 50%;
    background-color: white;
    max-width: 55px;
}

.profile-pic-anonimus {
    color: var(--bg-contactlist-hover);
    font-size: 25px;
    padding: 15px;
}

.contact-meta__data {
    margin-left: 0.6em;
}

.contact-meta__name {
    font-size: 0.9em;
    font-weight: 700;
    color: var(--bg-text);
}

.contact-meta__mess, .contact-meta__time {
    font-size: 0.85em;
    line-height: 1em;
    color: var(--bg-icon-date);
}

.contact-meta__date {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    justify-content: end;
    padding-top: 3px;
}

.contact-meta__time {
    line-height: 1em;
}

/* contact list */



/* message section */

.message-container {
    width: 100%;
    height: calc(100% - 145px);
    background-image: var(--bg-image);
    padding: 1em 10% 1em 10%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.message-container-anonimus{
    width: 100%;
    height: calc(100% - 145px);
    background-image: var(--bg-image);
    padding: 1em 10% 1em 10%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.jumbotron {
    text-align: center;
    align-self: center;
    color: var(--bg-text);
}

.card-message {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    border-radius: 0.8em;
    min-width: 40%;
    max-width: 47%;
}

.text-card {
    align-self: flex-start;
    padding: 15px;
    color: var(--bg-text);
    font-size: var(--var-font-text);
}

.date-card {
    align-self: flex-end;
    padding: 0 16px 10px 0;
    color: var(--bg-icon-date);
    font-size: var(--var-font-date);
}

.chevron {
    position: absolute;
    right: 15px;
    top: 10px;
    background: var(--bg-message-rece);
    background: var(--bg-chevron-rece);
    display: none;
}

.sentChevron{
    background: var(--bg-message-sent);
    background: var(--bg-chevron-sent);;
}

.card-message:hover .chevron {
    display: block;
    cursor: pointer;
}

.tail-message-sent {
    position: absolute;
    right: -8px;
    top: -8px;
}

.tail-message-rece {
    position: absolute;
    left: -8px;
    top: -8px;
}

.sent {
    align-self: flex-end;
    background-color: var(--bg-message-sent);
    border-top-right-radius: 0;
}

.received {
    align-self: flex-start;
    background-color: var(--bg-message-rece);
    border-top-left-radius: 0;
}

.message-interaction {
    display: flex;
    height: 60px;
    padding: 0 1em;
    background-color: var(--bg-input-ex);
}

.send-message-insert {
    width: calc(100% - 40px);
    height: 60%;
    margin: auto 2em;
    padding: 0 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

/* message section */



/* message interaction */

.interaction-mod {
    position: absolute;
    background-color: rgb(245, 245, 245);
    top: 35px;
    right: 15px;
    z-index: 10;
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}

.list-interaction {
    list-style: none;
    padding: 0;
    margin: 7px 0;
}

.list-item-interaction {
    padding: 15px 35px;
    margin: 0.3px 7px;
    cursor: pointer;
}

.list-item-interaction:hover {
    background-color: rgb(211, 211, 211);
}

/* message interaction */



/* chat interaction */

.chat {
    top: 70px;
    right: 11%;
}

/* chat interaction */



/* loader */

.loader-14 {
    width : 15em;
    height: 15em;
    display: block;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100000;
}
.loader-14::after , .loader-14::before {
    content: '';
    width : 15em;
    height: 15em;
    border-radius: 50%;
    border: 15px solid rgba(0, 149, 135, 100);
    position: absolute;
    left:0;
    top: 0;
    animation: animloader14 0.6s linear infinite;
}

.loader-14::after {
    animation-delay: 0.3s;
}

@keyframes animloader14 {
    0% { transform: scale(0); opacity: 1;}
    100% { transform: scale(1); opacity: 0;}
  }

/* loader */



/* switch */

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(211, 211, 211);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: gray;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px gray;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* switch */