html {
    font-size: 100%;
}


/* background */

body {
    height: calc(100vh - 5em);
    background-image: linear-gradient(rgba(0, 149, 135, 100) 0vh, rgba(0, 149, 135, 100) 20vh, rgba(220, 219, 208, 100) 20vh, rgba(220, 219, 208, 100) 100vh);
}

/* background */


/* web app structure */

main {
    position: relative;
}

#app {
    background-color: cornflowerblue;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 5em;
}

.contact-section {
    float: left;
    width: 25%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    min-height: 100px;
}

.message-section {
    float: right;
    width: 75%;
    height: 100%;
    background-color: green;
}

/* web app structure */



/* header of two section */

.my-nav {
    background-color: #EAEAEA;
    padding: 15px;
    display: flex;
    width: 100%;
}

.alert-message {
    display: flex;
    background-color: #8EDAFC;
    padding: 15px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav > .contact-meta__icon {
    margin-left: 0.9em;
}

.contact-meta__button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    float: right;
}

.button-box {
    display: flex;
    justify-content: end;
}

.button-box > button {
    border: none;
    background-color: transparent;
    margin-right: 0.3em;
}

.button-box > button > i {
    font-size: 1.2em;
    color: #B1B1B1;
}

/* header of two section */



/* contact list */

.list-box {
    min-height: 120px;
    overflow: auto;
}

.contact-list {
    list-style: none;
    padding-left: 0;
}

.contact-list-item {
    display: flex;
    padding: 10px 10px 10px 20px;
}

.contact-list-item:hover {
    background-color: #E9EBEB;
}

.profile-pic {
    border-radius: 50%;
    max-width: 55px;
}

.profile-pic-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0CD977;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic-default span {
    font-weight: bold;
    color: #023047;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.contact-meta__data {
    margin-left: 0.6em;
}

.contact-meta__name {
    font-size: 0.9em;
    font-weight: 700;
}

.contact-meta__mess, .contact-meta__time {
    font-size: 0.85em;
    line-height: 0.85em;
    color: rgb(73, 73, 73);
}

.contact-meta__date {
    display: flex;
    flex-direction: row-reverse;
    width: 42%;
    padding-top: 3px;
}

.contact-meta__time {
    line-height: 1em;
}
